<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230096264279-a2no764ejqrt283jo27tmev0cv1sq3m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230096264279-a2no764ejqrt283jo27tmev0cv1sq3m4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230096264279-7iru5t25jlbrp1iabfpkv8p8bn73m160.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQTUxZaQWMuJcOrB5vNR_Jzwp7wfmT-I</string>
	<key>GCM_SENDER_ID</key>
	<string>230096264279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arisesoft.robindo</string>
	<key>PROJECT_ID</key>
	<string>robin-do-3314b</string>
	<key>STORAGE_BUCKET</key>
	<string>robin-do-3314b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230096264279:ios:912deb985e00197967d712</string>
</dict>
</plist>